html, body {
  height: 100%;
}
body{
    font-size: 18px;
    line-height: 1.4;
    background-color: aliceblue;
    margin: 0;
    display: flex;
    
/* This centers our sketch horizontally. */
    justify-content: center;
/* This centers our sketch vertically. */
    align-items: center;
}
#container{
    width: 560px;
    margin: 0 auto;
    padding: 1px;
}